# InstaCart Project 

## Ex4.6. Part 1-  Merging Orders with Orders Prior

### Contents
- 1. Import libraries and data frames
- 2. Merging df_ords and df_ords_prior
- 3. Export dataframe as orders_products_combined

# 01 Import libraries and dataframes

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Create file path
path = r'//Users/amypalomino/Documents/(03.22) InstaCart Basket Analysis/02 Data'

In [3]:
# Import dataframes
df_ords = pd.read_csv(
    os.path.join(
        path, 'Prepared Data', 'orders_checked.csv'),
    index_col = False)

In [6]:
df_ords_prior = pd.read_csv(
    os.path.join(
        path, 'Original Data', 'order_products_prior.csv'),
    index_col = False)

In [7]:
df_ords.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,1,2,8,NaN
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [8]:
# View column names 
df_ords.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'order_id', 'user_id', 'order_number',
       'order_day_of_week', 'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [9]:
# Create list to remove redundant columns when importing df_ords
vars_list = ['order_id', 'user_id', 'order_number', 'order_day_of_week', 'order_hour_of_day', 'days_since_prior_order']

In [11]:
# Import df_ords without redundant index columns
df_ords = pd.read_csv(
    os.path.join(
        path, 'Prepared Data', 'orders_checked.csv'),
    usecols = vars_list)

In [13]:
df_ords.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [14]:
# View df_ords_prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [15]:
df_ords_prior.shape

(32434489, 4)

In [16]:
df_ords.shape

(3421083, 6)

# 02 Merging df_ords and df_ords_prior

In [17]:

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [18]:
df_merged_large.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [20]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [21]:
df_merged_large.shape

(32434489, 10)

# 03 Export dataframe as orders_products_combined

In [22]:
# Export data to pkl
df_merged_large.to_pickle(
    os.path.join
        (path, 'Prepared Data', 'orders_products_combined.pkl'))